services:
  - type: web
    name: evolution-api
    env: docker
    plan: free
    region: oregon
    
    # Render usará el archivo "Dockerfile" que acabamos de crear
    # para descargar la imagen oficial.
    
    envVars:
      # --- CONFIGURACIÓN BÁSICA ---
      - key: SERVER_PORT
        value: 8080
      - key: SERVER_URL
        sync: false # Render te pedirá esto o lo llenará solo
      - key: AUTHENTICATION_API_KEY
        value: "clave"
      - key: DEL_INSTANCE
        value: "false"
        
      # --- OPTIMIZACIÓN PLAN GRATUITO ---
      - key: LOG_LEVEL
        value: "error" # Menos logs = menos consumo de CPU
        
      # --- PERSISTENCIA (CRÍTICO PARA WHATSAPP) ---
      # En el plan gratuito, si no conectas una base de datos, 
      # PERDERÁS LA CONEXIÓN (QR) cada vez que la app se reinicie (diariamente).
      # Crea una cuenta gratuita en MongoDB Atlas y pon la URL aquí:
      
      - key: DATABASE_ENABLED
        value: "true"
      - key: DATABASE_PROVIDER
        value: "postgresql"
      - key: DATABASE_CONNECTION_URI
        value: "postgresql://neondb_owner:npg_4vV3UaTHqOSi@ep-gentle-pond-ad8t6ig5-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
      - key: DATABASE_CONNECTION_CLIENT_NAME
        value: "evolution_exchange"
      
      # Desactiva Redis para ahorrar memoria (usará memoria interna)
      - key: CACHE_REDIS_ENABLED
        value: "false"

    healthCheckPath: /
    autoDeploy: false
